/code/src/ee/ut/sci/potisepp/SequentialBF.java.orig
/thesis/pdf.sh~
/thesis/thesis.pdf.orig
/thesis/thesis.tex.orig
code/bin/*
code/.classpath
*.DS_Store
.DS_Store

code/.classpath

metadata_extractor/bin/*
metadata_extractor/.classpath

thesis/thesis.log

thesis/thesis.synctex.gz
